* {
  padding: 0;
  margin: 0; }

body {
  padding: 0;
  margin: 0; }

.container {
  width: 60%;
  margin-left: 20%;
  padding: 0; }

.respons {
  max-width: 100%;
  width: 100%; }

[class*="col-"] {
  min-height: 7px;
  max-height: 100%;
  padding: 12px;
  margin: 0;
  box-sizing: border-box;
  float: left; }

.col-1 {
  width: 8.33333%; }

.col-2 {
  width: 16.66667%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33333%; }

.col-5 {
  width: 41.66667%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33333%; }

.col-8 {
  width: 66.66667%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33333%; }

.col-11 {
  width: 91.66667%; }

.col-12 {
  width: 100%; }

.mi-nav {
  background-color: #f04949;
  padding-bottom: 4%; }

.mi-ul__link {
  display: inline-block;
  width: 19%;
  text-align: center; }
  .mi-ul__link__a {
    text-decoration: none;
    color: white; }
  .mi-ul__link__a.profile {
    padding: 6% 13%;
    background-color: #203748;
    border-radius: 15px; }
  .mi-ul__link__photo {
    width: 60px;
    position: relative;
    top: 23px;
    border-radius: 50%;
    border: 4px solid white; }

.about {
  background-color: #203748; }

.cont-about {
  padding: 5% 0; }
  .cont-about__cont-perfil {
    display: inline-block; }
    .cont-about__cont-perfil--profile {
      border-radius: 50%;
      width: 250px; }
  .cont-about__cont-perfil__info {
    height: 250px;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .cont-about__cont-perfil__info--verde {
      color: #39d084; }
    .cont-about__cont-perfil__info--blanco {
      color: white; }
    .cont-about__cont-perfil__info__btn {
      width: 40%; }
      .cont-about__cont-perfil__info__btn--color {
        background-color: #39d084;
        color: white;
        padding: 2% 0;
        border: 1px solid #39d084;
        border-radius: 15px; }

.btn-social-network, .social-networks__links--facebook, .social-networks__links--twitter, .social-networks__links--google, .social-networks__links--pinterest, .social-networks__links--stumbleupon, .social-networks__links--dribbble {
  color: white;
  font-size: 150%;
  width: 38px;
  height: 38px;
  border-radius: 4px; }

.social-networks {
  padding-top: 23%;
  padding-bottom: 5%; }
  .social-networks__links {
    display: inline-block;
    width: 15%; }
    .social-networks__links--facebook {
      background-color: #365899;
      border: 1px solid #365899; }
    .social-networks__links--twitter {
      background-color: #3aa4d2;
      border: 1px solid #3aa4d2; }
    .social-networks__links--google {
      background-color: #c2594e;
      border: 1px solid #c2594e; }
    .social-networks__links--pinterest {
      background-color: #ba323b;
      border: 1px solid #ba323b; }
    .social-networks__links--stumbleupon {
      background-color: #c55236;
      border: 1px solid #c55236; }
    .social-networks__links--dribbble {
      background-color: #cc6a93;
      border: 1px solid #cc6a93; }

.portfolio {
  background-color: #f04949;
  height: 190vh;
  padding: 4% 0; }

.cont-portfolio {
  height: auto; }
  .cont-portfolio h1 {
    font-size: 200%;
    font-weight: 900;
    text-align: center;
    color: white;
    margin-bottom: 5%; }
  .cont-portfolio__div {
    padding: 0 10px; }
    .cont-portfolio__div__img {
      margin: 2px;
      border-radius: 10px;
      border: 5px solid #203748; }

/*# sourceMappingURL=main.css.map */
