
* {
	padding: 0;
	margin: 0;
}

body {
	padding: 0;
	margin: 0;
}

.container {
	width: 60%;
	margin-left: 20%;
	padding: 0;
}

.respons {
	max-width: 100%;
	width: 100%;
}

[class*="col-"]{
	min-height: 7px;
	max-height: 100%;
	padding: 12px;
	margin: 0;
	box-sizing: border-box;
	float: left;
}

@function anchoDeColumnas($i){
	@return percentage(($i/12));
}

@for $i from 1 through 12 {
	.col-#{$i} {
		width: anchoDeColumnas($i)
	}
}