
.mi-nav {
	background-color: $color_fondo_nav;
	padding-bottom: 4%;
}

.mi-ul__link {
	display: inline-block;
	width: 19%;
	text-align: center;
	&__a {
		text-decoration: none;
		color: white;
	}
	&__a.profile {
		padding: 6% 13%;;
		background-color: $color_fondo_body;
		border-radius: 15px;
	}
	&__photo {
		width: 60px;
		position: relative;
		top: 23px;
		border-radius: 50%;
		border: 4px solid white;
	}
}

.contenido-about {
	padding: 5% 0;
	&__cont-perfil {
		display: inline-block;
		&--profile {
			border-radius: 50%;
			width: 250px;
		}
	}
	&__cont-perfil--info {
		height: 250px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
}